.App {
    font-family: sans-serif;
    /* text-align: center; */
  }
  
  section {
    display: grid;
    height: 100vh;
    font-size: 32px;
    font-weight: bold;
  }

  #projects,
  #contact {
    color: #3b3b3c;
    background: #eaf2fa;
  }
  
  #career {
    height: 5000px;
  }

  .nav {
    display: flex;
    align-items:flex-end;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    background-color: #0d1421;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(255 255 255 / 11%);
    padding: 1.5%;
  }
  
  .nav__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .active {
    font-weight: bold;
  }
  
  ul {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
  }
  
  li:hover {
    text-decoration: underline;
  }


  .typewriter_title{
    font-weight: bold;
    font-weight: "600";
  }
  
  .Typewriter__cursor{
    font-size: 75px;
  }

  .Typewriter{
    font-size: 0px;
    padding-left: 5%;
  }

  #name_tag{
    background: -webkit-linear-gradient(#89CFF0, #0096FF);
    color: #152238;
    font-size: 7.5vw;
    font-family: "Avenir";
    border-radius: 10px;
  }

  #subText{
    background: -webkit-linear-gradient(#E5E4E2, #C0C0C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Avenir";
    font-size: 4vw;
  }

  #titleText{
    background: -webkit-linear-gradient(#89CFF0, #0096FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Avenir";
    font-size: 7.5vw;
  }

  #introBlurb{
    font-family: "Avenir";
    font-weight: 500;
    font-size: 1.75vw;
  }

  .cursorClass{
    background: -webkit-linear-gradient(#E5E4E2, #C0C0C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 75px;
  }

  .fadeOut{
    opacity:0;
    transition: opacity 1.5s;

}
.fadeIn{
    opacity:1;
    transition: opacity 1.5s;

}

#projectDesc {
  font-family: "Avenir";
  font-size: 1.5vw;
  font-weight: 200;
  background: -webkit-linear-gradient(#0096FF, #152238);
  color: #89CFF0;
  box-shadow: 0.2;
  padding: 20px;
  border-radius: 10px;
  border-color: #6A6A6A;
  box-shadow: 0 0 10px #9ecaed;
}

#introSubSection{
  width: 100%;
  font-family: "Avenir";
  font-weight: "100";
  padding: 5%;
  padding-bottom: 2.5%;
  display: "inline-block";
  align-content: center;
}

th{
  font-family: 'Avenir';
  font-weight: 700;
  font-size: 30px;
  padding-left: 100px;
  padding-right: 100px;
  color: #0096FF !important;
}

td{
  font-family: 'Avenir';
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #89CFF0;
}

#about {
  height: 50%;
  background-color: "#FFCB9A";
}

#skillItem {
  font-size: 1.5vw;
  word-wrap: normal;
  justify-content: center;
  text-align: center;
  font-family: "Avenir";
  margin: 2.5%;
  background: -webkit-linear-gradient(#E5E4E2, #C0C0C0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skillTitle {
  font-size: 2vw;
  word-wrap: normal;
  justify-content: center;
  text-align: center;
  font-family: "Avenir";
  margin: 7.5%;
  background: -webkit-linear-gradient(#E5E4E2, #C0C0C0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



#gear1, #gear2, #gear3 {
  color: #888;
  display: block;
  float: left;
}

#aboutTitle {
  background: -webkit-linear-gradient(#89CFF0, #0096FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#projectsTitle {
  background: -webkit-linear-gradient(#89CFF0, #0096FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#knowledgeTitle {
  background: -webkit-linear-gradient(#89CFF0, #0096FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Avenir";
  font-size: 2vw;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 5vh;
}

#tableText table tr th{
  font-size: 1.75vw;
  text-align: center;
}

#tableText table tr td{
  font-size: 1.75vw;
}

#aboutBlurb {
  font-family: "Avenir";
  font-size: 1.75vw;
  font-weight: 200;
}

#aboutImage{
  width: 80%;
  border-radius:100%;
}

#imageContainer {
  justify-content: "center";
  /* display: inline-block;
  position: absolute;
  border-radius: 100%; */
}
 
/* 
#imageContainer::before  {
  position: absolute;
  top: 2.5vh;
  left: 7.5vh;
  width: 45vh;
  height: 50vh;
  border: 4px solid #89CFF0;
  content: '';
  border-radius: 100%;
} */

.vertical-timeline-element-content{
  background: -webkit-linear-gradient(#0096FF, #152238) !important;
  color: #C0C0C0 !important;
  font-family: "Avenir";
}

#socialIcon {
  color: #C0C0C0 !important; 
  margin: 5%;
}

#socialsContainer {
  margin-top: 10%;
}

.footer {
  background-color: #0d1421;
  width: 100%;
  display: flex;
  height: 12.5vh;
  align-items: center;
  justify-content: center;
 }

@media (max-width:992px){
  #titleText{
    background: -webkit-linear-gradient(#89CFF0, #0096FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Avenir";
    font-size: 12vw;
    text-align: center;
  }

  .dropdown-item {
    background-color: #89CFF0 !important;
    border-bottom: black 1px solid !important;
    color: #C0C0C0;
    font-family: "Avenir";
    font-size: 3.5vw;
  }

  .lastItem{
    border-bottom: black 0px solid !important;
  }

  .dropdown-menu {
    background-color: #89CFF0 !important;
  }
  

  #name_tag{
    background: -webkit-linear-gradient(#89CFF0, #0096FF);
    color: #152238;
    font-size: 12vw;
    font-family: "Avenir";
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
  }

  

  #subText{
    background: -webkit-linear-gradient(#E5E4E2, #C0C0C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Avenir";
    font-size: 4.5vw;
  }

  #introBlurb{
    text-align: center;
    font-size: 2.5vh;
    padding-top: 5;
  }

  #aboutBlurb {
    font-family: "Avenir";
    font-size: 3vw;
    font-weight: 200;
  }

  #aboutPortrait{
    display: flex;
    justify-content: center;
    
  }

  #aboutImage{
    width: 50%;
  }

  #skillItem {
    font-size: 4vw;
  }
  
  #skillTitle {
    font-size: 5.5vw;
  }

  #knowledgeTitle{
    font-size: 7.5vw;
  }

  #projectDesc {
    margin-top: 5%;
    font-size: 2.75vw;
    margin-left: auto;
    margin-right: auto;
  }

  #socialIcon {
    margin: 2vw;
    margin-top: 0%;
  }

 #socialsContainer {
   display: flex;
   justify-content: center;
   margin-bottom: 5vh;
   margin-top: 5vh;
 }

 .nav {
  padding: 3%;
}

}

